/* Let's begin by creating variables for the colors we will be using in our design. This will help us maintain consistency and make it easier to update colors in the future. */
:root {
    --clr-green500: hsl(158, 36%, 37%);
    --clr-green700: hsl(158, 42%, 18%);
    --clr-dark: hsl(212, 21%, 14%);
    --clr-grey: hsl(228, 12%, 48%);
    --clr-cream: hsl(30, 38%, 92%);
    --clr-light: hsl(0, 0%, 100%);
    font-size: 14px; /* Ensure root font size is defined */
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    line-height: 1.5;
    box-sizing: border-box;
}

body {
    background-color: var(--clr-cream);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    padding: 3.571rem 0; /* (3.571rem = 50px) */
}

p {
    font-size: inherit;
    font-family: "Montserrat", serif;
    font-weight: 500;
    color: var(--clr-grey);
    }

h1 {
    font-family: "Fraunces", serif;
    font-weight: 700;
    line-height: 1;
}

.card {
    display: flex;
    max-width: 42.857rem; /* (42.857rem = 600px) */
    border-radius: 0.714rem; /* (0.714rem = 10px) */
    overflow: hidden;
}

.product-img {
    width: 50%;
}

.product-img img {
    width: 100%;
    height: 100%;
}

.img-mobile {
    display: none;
}

.product-info {
    background-color: var(--clr-light);
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2.143rem; /* (2.143rem = 30px) */
    gap: 2.143rem; /* (2.143rem = 30px) */
}

.product-type {
    text-transform: uppercase;
    letter-spacing: 0.357rem; /* (0.357rem = 5px) */
}

.product-name {
   color: var(--clr-dark);
}

.product-prices {
    display: flex;
    align-items: center;
    gap: 1.786rem; /* (1.786rem = 25px) */
}

.price-lg {
    color: var(--clr-green500);
}

.price-sm {
    text-decoration: line-through;
}

.product-btn {
    background-color: var(--clr-green500);
    color: var(--clr-light);
    text-align: center;
    display: flex;
    justify-content: center;
    font-family: "Montserrat", serif;
    font-weight: 700;
    padding: 1.071rem 2.143rem; /* (1.071rem = 15px, 2.143rem = 30px) */
    gap: 0.714rem; /* (0.714rem = 10px) */
    border-radius: 0.714rem; /* (0.714rem = 10px) */
    cursor: pointer; /* Changes the cursor to a pointer when hovering over the button, indicating it's clickable */
    transition: background-color 0.3s ease, transform 0.2s ease; /* Adds a smooth transition effect for background color and a slight transform animation */
}

.product-btn:hover, .product-btn:focus {
    background-color: var(--clr-green700);
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

/* Styles for mobile view and Responsiveness */ 
@media (max-width: 600px) {
    .card {
        max-width: 25rem; /* (25rem = 350px) */
        flex-direction: column;
    }

    .product-img {
        width: 100%;
    }

    .product-info {
        width: 100%;
        gap: 1.429rem; /* (1.429rem = 20px) */
    }

    .img-desktop {
        display: none;
    }

    .img-mobile {
        display: block;
    }
}


